<div style="padding: 20px;">
  <div style="border: 1px solid gray; padding: 20px; border-radius: 20px; margin-bottom: 20px;">
    <form [formGroup]="physicianForm" (ngSubmit)="addPhysician()" style="display: flex; flex-direction: column;">
      <div style="display: flex; gap: 20px;">
        <mat-form-field class="full-width" appearance="outline" style="width: 100%;">
        <mat-label>Physician Name</mat-label>
        <input matInput placeholder="Eg. Sanjeev Shah" formControlName="name">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline" style="width: 100%;">
        <mat-label>Physician Position</mat-label>
        <input matInput placeholder="Eg. MBBS" formControlName="position">
      </mat-form-field>
      </div>
      <button mat-raised-button type="submit">{{isEdit ? 'Update' : 'Add'}}</button>
    </form>

  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="padding:20px; border-radius: 20px;">
    <ng-container matColumnDef="physicianId">
      <th mat-header-cell *matHeaderCellDef>Physician Id</th>
      <td mat-cell *matCellDef="let element">{{element.physicianId}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Physician Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Physician Position</th>
      <td mat-cell *matCellDef="let element">{{element.position}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="editPhysician(element)">Edit</button>
        <button mat-raised-button color="warn" (click)="deletePhysician(element)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>

</div>
