<div style="display: flex; flex-direction: column; gap: 30px;">
  <mat-toolbar style="background-color: aliceblue; border-radius: 20px;">
    <span>MEDICATION</span>
  </mat-toolbar>

  <div style="border: 1px solid gray; padding: 20px; border-radius: 20px; margin-bottom: 20px;">
      <form [formGroup]="medicationForm" (ngSubmit)="addMedication()" style="display: flex; flex-direction: column;">
          <div style="display: flex; flex-direction: column; gap: 10px;">
            <div style="display: flex; gap: 20px;">
              <mat-form-field class="full-width" appearance="outline" style="width: 100%;">
              <mat-label>Medication Name</mat-label>
              <input matInput placeholder="" formControlName="name">
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline" style="width: 100%;">
                <mat-label>Medication Brand</mat-label>
                <input matInput placeholder="" formControlName="brand">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="full-width" appearance="outline" style="width: 100%;">
                <mat-label>Medication Description</mat-label>
                <textarea matInput placeholder="" formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </div>
        <button mat-raised-button type="submit">{{isEdit ? 'Update' : 'Add'}}</button>
      </form>
  </div>

  <!-- <mat-form-field class="full-width" appearance="outline" style="width: 100%;">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search Physician By Name or Position" (input)="onSearch($event)">
  </mat-form-field> -->

  <div style="overflow-x: auto;">
     <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="padding:20px; border-radius: 20px; margin-bottom: 30px; width: 100%; min-width: 1500px;">
      <ng-container matColumnDef="medicationId">
        <th mat-header-cell *matHeaderCellDef>Medication Id</th>
        <td mat-cell *matCellDef="let element">{{element.medicationId}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Medication Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef>Medication Brand</th>
        <td mat-cell *matCellDef="let element">{{element.brand}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Medication Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let element">{{element.createdDate}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" style="min-width: 205px">
          <button mat-raised-button color="primary" (click)="editMedication(element)" style="margin-right: 10px;">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteMedication(element)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </div>

</div>
