<div style="display: flex; flex-direction: column; gap: 30px;">
  <mat-toolbar style="background-color: aliceblue; border-radius: 20px;">
    <span>Procedure</span>
  </mat-toolbar>

  <div style="border: 1px solid gray; padding: 20px; border-radius: 20px; margin-bottom: 20px;">
      <form [formGroup]="procedureForm" (ngSubmit)="addProcedure()" style="display: flex; flex-direction: column;">
        <div style="display: flex; gap: 20px; justify-content: center;">
          <mat-form-field class="full-width" appearance="outline" style="width: 100%;">
            <mat-label>Procedure Name</mat-label>
            <input matInput placeholder="Eg. Organ Transplant" formControlName="name">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline" style="width: 100%;">
            <mat-label>Procedure Cost</mat-label>
            <input matInput placeholder="Eg. 10000" formControlName="cost">
          </mat-form-field>
        </div>
        <button mat-raised-button type="submit">{{isEdit ? 'Update' : 'Add'}}</button>
      </form>
  </div>

  <!-- <mat-form-field class="full-width" appearance="outline" style="width: 100%;">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search Physician By Name or Position" (input)="onSearch($event)">
  </mat-form-field> -->

  <div style="overflow-x: auto;">
     <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="padding:20px; border-radius: 20px; margin-bottom: 30px; width: 100%;">
      <ng-container matColumnDef="procedureId">
        <th mat-header-cell *matHeaderCellDef>Procedure Id</th>
        <td mat-cell *matCellDef="let element">{{element.procedureId}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Procedure Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef>Procedure Cost</th>
        <td mat-cell *matCellDef="let element">{{element.cost}}</td>
      </ng-container>
      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef>Created On</th>
        <td mat-cell *matCellDef="let element">{{element.createdOn}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="editProcedure(element)" style="margin-right: 10px;">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteProcedure(element)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </div>

</div>
