<!-- <button routerLink="/physician">Physician</button>
<button routerLink="/nurse">Nurse</button> -->
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <a routerLink="/physician">Physician</a><br>
    <a routerLink="/nurse">Nurse</a><br>
    <a routerLink="/patients">Patients</a><br>
    <a routerLink="/block">Block</a><br>
    <a routerLink="/onCall">OnCall</a><br>
    <a routerLink="/appointment">Appointment</a><br>
    <a routerLink="/room">Room</a><br>
    <a routerLink="/stay">Stay</a>
  </mat-drawer>
  <mat-drawer-content style="padding: 20px;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
